<%= render 'shared/map' %>
<%= button_tag image_tag(current_user.facebook_picture_url, class: "btn-profile avatar-bordered"), class: 'btn-trigger' %>
<div class="panel" id="user">
  <%= render 'shared/profile' %>
</div>

<div class="panel-box z-depth-4">
  <div class="panel" id="parkit"></div>
</div>


