<div class="container main-page">
  <div class="row">
    <div class="col l8 no-padding">
      <%= render 'shared/map' %>
    </div>
    <div class="col l4 no-padding">
      <div id="main-menu"></div>
    </div>
  </div>
</div>

