<%= render 'shared/map' %>




<!-- Old Code Not Used At the Moment -->

<!-- <div class="container positioner">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card horizontal" style="align-items:center;">
        <div class="card-image image-overrides">
          <i class="material-icons material-icon-font-override">done</i>
        </div>
        <div class="card-stacked card-content-padding">
          <div class="card-content no-padding">
            <span class="card-title">2567 Maguire St </span>
            <p>Parking is real good here, yah heard</p>
          </div>
          <div class="card-action card-links-padding">
            <a href="#">Open</a>
            <a href="#">Closed</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

