/* Legacy Code from Le Wagon's Template Install,
 * DO NOT uncomment. It breaks Materialize
 */






/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$header-font: "Raleway", "Helvetica", "sans-serif";

/* -------------------------------------
 * Colors
 * ------------------------------------- */
$peach: #FFF8E1;
$pale-blue: #E0F2F1;
$pale-teal: #A7FFEB;
$teal: #1de9b6;
$text-color: #263238;
$teal-grey: #e0f2f1;
$light-grey: #eceff1;
