body {
	color: $text-color;
}

h1 {
  margin: 0;
}

#fullpage {
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85D8CE, #00798C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00798C, #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}

@media #{$small-and-down} {
  #banner-title {
    padding-top: 30px;
    text-align: center;
    h1 {
      text-align: center;
      font-family: Raleway;
      color: white;
      font-size: 40px;
      font-weight: bold;
    }
    p {
      text-align: center;
      font-family: Raleway;
      color: white;
      font-size: 15px;
    }
  }
}

@media #{$medium-and-up} {
  #banner-title {
    padding-top: 250px;
    text-align: justify;
    h1 {
      font-family: Raleway;
      color: white;
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-family: Raleway;
      color: white;
      font-size: 20px;
    }
  }
}

#banner-picture {
  text-align: center;
  padding-top: 100px;
  img {
    height: 500px;
  }
}

@media #{$small-and-down} {
  #banner-picture img {
    height: 200px
  }
}

.section {
  padding: 0;
}

@media #{$medium-and-up} {
  .section-padded {

    #banner-picture  {
      text-align: center;
      padding-top: 50px;
      img {
        height: 500px;
      }
    }

    #banner-title {
      padding-top: 200px;
      text-align: justify;
    }
  }
}

.color-heart{
  color: #085078;
}

.button .fa-play {
  font-size: 1.3em;
  padding-left: 10px;
}
