<!-- <footer class="page-footer">
  <div class="footer-copyright">
    ©PPParkit
    <ul class="list-inline text-center">
      <li class="fa fa-youtube-square fa-lg text-center"  aria-hidden="true"></li>
      <li class="fa fa-facebook-square fa-lg text-center" aria-hidden="true"></li>
      <li class="fa fa-twitter-square fa-lg text-center" aria-hidden="true"></li>
      <li class="fa fa-instagram fa-lg text-center" aria-hidden="true"></li>
    </ul>
    <%= image_tag 'builtinmtl.png', id:"mtl" %>
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
</footer> -->



<footer class="page-footer">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</footer>

