<div class="container center-align" id="map-info-window" >
	<h4><%= spot.place_no %></h4>
  <% if spot.status == "avail" %>
    <p>Do you want to park here?<p>
  <% elsif spot.status == "taken" %>
    <p>Update Status or Park!</p>
  <% end %>

	<%= render 'shared/park_it_form', spot: spot, park_it: park_it %>
</div>
