<div class="container center-align" id="map-info-window" >
  <% current_park_it = current_user.parkits.where(spot_id: spot.id).last %>
	<h5><%= spot.place_no %></h5>
	<% if spot.status == "avail" && !spot.park_its.last.nil? && !spot.park_its.last.paid_until.nil? && (spot.park_its.last.paid_until - Time.now).to_i/60 > 0 %>
    <span>
      <div class="status-badge" id="paid">
        Paid
      </div>
      <div class="status-badge" id="available">
        Available
      </div>
    </span>
		<p><%= (spot.park_its.last.paid_until - Time.now).to_i/60 %> minutes of paid parking! </p>
  <% elsif spot.status == "avail" %>
    <div class="status-badge" id="available">
      Available
    </div>
    <p>Click to Park Here<p>
  <% elsif spot.status == "taken" && current_park_it && !spot.park_its.last.paid_until.blank? %>
    <div class="status-badge" id="my-spot">
      My Spot
    </div>
    <div id="time-left" >
      <p id="personal-text"><%= (spot.park_its.last.paid_until - Time.now).to_i/60 %> minutes of paid parking! </p>
    </div>
    <p id="personal-text">Click to Update Your Spot</p>
  <% elsif spot.status == "taken" %>
    <div class="status-badge" id="taken">
      Unavailable
    </div>
    <p>Click to Update Availability</p>
  <% end %>
	<%= render 'shared/park_it_form', spot: spot, park_it: park_it %>
</div>
