<div id="map"></div>

<div id="modal1" class="modal">
 <div class="modal-content">
 </div>
 <div class="modal-footer">
   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
 </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var styles = [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"}, {"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[ { visibility: "off" }]}];
      var handler = window.handler = Gmaps.build('Google', { builders: { Marker: InfoBoxBuilder} });
      var mapOptions = {disableDefaultUI: true, zoomControl: true}  //creates Options object to change map -- removes default settings but keeps ability to change zoom
      handler.buildMap({
      provider: {
        styles: styles
      },
      internal: { id: 'map' } }, function() {
        window.markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setOptions(mapOptions); //applies mapOptions described above to map
        // if(navigator.geolocation)
        //   navigator.geolocation.getCurrentPosition(displayOnMap);
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(4);
        } else {
          handler.getMap().setZoom(18);
        }
      });
      // $( ".parkit-button" ).click(function() {
      //   $( "#map" ).hide();
      //   $("")


      // function displayOnMap(position){
      //   var marker = handler.addMarker({
      //     lat: position.coords.latitude,
      //     lng: position.coords.longitude
      //   });
      //   handler.map.centerOn(marker);
      // };


      //jquery to hide and show user profile
      $( ".back-button" ).hide()
       $( ".btn-profile" ).click(function() {
        $( ".back-button" ).show(500);
        $("#user").animate({
          "left": 0
        }, 1000, function() {
        });

      });
       $( ".back-button" ).click(function() {
        $(this).hide();
        $("#user").animate({
          "left": 1000
        }, 1500, function() {
        });
      });
    });
  </script>
<% end %>
