<div id="map"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google', { builders: { Marker: InfoBoxBuilder} });
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
       <!-- $('.carousel').carousel({dist: 0, padding: 10}); -->
       $( ".btn-profile" ).click(function() {
        $("#user").animate({
          "left": 0
        }, 6000, function() {
        });
      });
   <!--    $( "#map" ).click(function() {
        $(".carousel").toggle().animate({
          "bottom": 0
        }, 2000, function() {
        });
      });
      $( ".carousel-item" ).click(function() {
        $(".spot-carousel").animate({
          "top": 5
        }, 2000, function() {
        });
      }); -->
    });
  <% end %>
<% end %>
