<div class="container center-align" id="profile">
  <% avatar_url = current_user.facebook_picture_url %>
  <% if !avatar_url.nil? %>
    <%= image_tag(avatar_url, class: "avatar-bordered", id: "img-profile") %>
  <% end %>
  <span>
    <h3><%= current_user.first_name %></h3><h3><%= current_user.last_name %></h3>
  </span>


  <p><%= current_user.points %></p>
</div>

