<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
<button data-target="modal1" class="btn modal-trigger">Modal</button>

<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>
