#map {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
  position: relative;
  z-index: 0;
}
	//styling info window
// .gm-style-iw > div {
// 	overflow: hidden !important;
// }

// #map-info-window {
// 	width: 60vh;
// 	height: 90vh;
// }
