#map {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 0;
}
	//styling info window
// .gm-style-iw > div {
// 	overflow: hidden !important;
// }

// #map-info-window {
// 	width: 60vh;
// 	height: 90vh;
// }
