#profile {
  margin-top: 40px;
  left: 100%;
  top: 0%;
  color: white;
  & h6 {
    font-size: 15px;
    font-weight: lighter;
  }
  & hr {
    margin: 30px;
  }
  & #achievements {
    font-weight: normal;
  }
}

#img-profile {
  width: 150px;
  height: 150px;
  border-color: white;
}

.back-button {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  text-decoration: none;
  background: rgb(255, 255 ,255);
  color: #0b547a !important;
  border-radius: 5px;
  width: auto;
  text-align: center;
  position: fixed;
  top: 2%;
  left: 2%;
  &:hover {
    color: white !important;
    cursor: pointer;
    background-color: #085078;
  }
  i {
    vertical-align: middle;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.achievement {
  width: 64px;
  height: 64px;
  margin: 10px;
}

.badges {
  margin: 10px 0 10px;
  display: flex;
  justify-content: center;
}

.description {
  margin: 10px 0 10px;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 64px;
  margin: 10px;
}
