.status-badge {
  padding: 2px;
  font-size: small;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 44px;
  color: white;
  border-radius: 4px;
  &#taken {
    background-color: #E94F37;
  }
  &#my-spot {
    background-color: #F6A623;
  }
  &#available {
    background-color: #4990E2;
  }
  &#paid {
    background-color: #85BF16;
    left: 111px;
  }
}
