.btn-profile {
  position: fixed;
  z-index: 5;
  right: 8%;
  top: 4%;
  border: none !important;
  box-shadow: 0 2px 4px rgba(0,0,0,1) !important;
}

.form-actions {
  i {
    width: auto;
    padding: 0 10px;
  }
}

.form-actions .btn {
  color: white !important;
  background-color: #009688;
  &:hover {
    box-shadow: 0 0 0 0 #009688;
  }
}


.btn-large {
  background: rgb(255, 255 ,255);
  color: #0b547a !important;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  &:hover {
    color: white !important;
    background-color: #085078;
    cursor: pointer;
  }
}

.parkit-button {
  width: 65px;
  height: 81px;
  position: absolute;
  top: -1px;
  right: 33px;
  border: none;
  background-size: contain !important;
  &#caution {
    background: image-url('caution.svg') no-repeat;
  }
  &#parking {
    background-image: image-url('parking.svg') no-repeat;
  }
  &#money {
    background-image: image-url('money.svg') no-repeat;
  }
  &.available {
    background-image: image-url('parking.svg');
  }
}

.parkit-submit {
  position: absolute;
  top: 20%;
  right: 20%;
}

#available-park-btn {
  background-color: #4990E2;
  color: white;
}

#money-park-btn {
  background-color: $paid-green;
  color: white;
}

#update-submit {
  background-color: #F6A623;
  color:white;
}

@media #{$small-and-down} {
  .button {
    text-align: center;
    }
  }

@media #{$medium-and-up} {
  .button {
    text-align: left;
  }
}


