.btn-profile {
  position: fixed;
  z-index: 5;
  right: 8%;
  top: 4%;
}

.form-actions {
  i {
    width: auto;
    padding: 0 10px;
  }
}

.form-actions .btn {
  color: white !important;
  background-color: #009688;
}

.form-actions .btn:hover {
  box-shadow: 0 0 0 0 #009688;
}

.btn-large:hover {
  color: white !important;
  cursor: pointer;
}

.button .btn:hover, .btn-large:hover {
  background-color: #085078;
}

.btn-large {
  background: rgb(255, 255 ,255);
  color: #0b547a !important;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.btn-large:hover {
  color: #085078;
  cursor: pointer;
}

@media #{$small-and-down} {
  .button {
    text-align: center;
    & .btn-large {
    margin: auto;
    }
  }
}


