.btn-profile {
  position: fixed;
  z-index: 5;
  right: 8%;
  top: 4%;
}

.btn-large:hover {
  color: white !important;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
    background-color: #0e567c;
}

.btn-large {
  background: rgb(255, 255 ,255);
  color: #0b547a !important;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.btn-large:hover {
  color: #085078;
  cursor: pointer;
}

.parkit-button {
  width: 65px;
  height: 78px;
  position: absolute;
  top: 0%;
  right: 15%;
  &:hover {
    opacity: 0.5;
  }
}

.parkit-submit {
  position: absolute;
  top: 24%;
  right: 20%;
}
