//provides overrides to standard Gmaps info box
.marker_container {
  //width: 100vw;
  //height: 100vh;
}

#map-info-window {
  padding: 20px;
  & p {
    position: absolute;
    top: 48px;
    left: 44px;
    font-weight: lighter;
  }
  & h5 {
    position: absolute;
    top:-11px;
    left:12%;
  }
}

.time-input {
  position: absolute;
  width:34%;
  top: 17%;
  left: 19%;
}

.parking-label {
  margin-left: 23px !important;
}

