// Personal Theme

body[data-theme="personal"] {
  .picker__date-display {
    background-color: $personal-yellow !important;
  }
}


// Money Theme

body[data-theme="money"] {
  .picker__date-display {
    background-color: $paid-green !important;
  }
}


// Parking Theme

body[data-theme="parking"] {
  .picker__date-display {
    background-color: $parking-blue !important;
  }
  .clockpicker-display {

  }
  .clockpicker-tick.active, .clockpicker-tick.hover  {
    background-color: rgba($parking-blue, 0.01);
  }
}


// Paid Theme

body[data-theme="paid"] {
  .picker__date-display {
    background-color: $unavailable-red !important;
  }
}
