// Graphical variables
@import "config/variables";
// @import "config/bootstrap_variables";
@import "config/materialize_variables";

// External libraries
// @import "bootstrap-sprockets";
@import "materialize/components/color";
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

//material icons
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
